.bingo {
    text-align: center;
  }
  
  .bingo-container {
    display: flex;
    justify-content: space-around;
  }
  
  .bingo-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
  }
  
  .bingo-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
  }
  .cross{
    height: 100%;
    width: 100%;
    color: aliceblue;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bingo{
    font-size: 25px;
    
  }
  .bingoName{
    letter-spacing: 19px;
    text-align: center;
    display: flex;
    align-items:center ;
    justify-content:center ;
    font-weight: bold;
  }

  